<nav>
    <div class="nav-data">
      <div class="nav-title">
        <a href="">Notes Application</a>
      </div>
      <div class="login">
        <button class="btn btn-outline-danger" (click)="logOut()">LogOut</button>
      </div>
    </div>
  </nav>
  
  <div class="main p-2">
    <div class="add-notes fixed-top">
      <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="reset()">Add Notes <i
          class="fa fa-plus"></i></button>
    </div>
    <hr>
    <div class="allNotes">
      <div class="card" *ngFor="let notes of notesData; let i = index">
        <div class="card-body">
          <div class="card-header">
            <p class="time">{{notes.createdAt | date:'medium'}}</p>
            <div class="card-button">
              <i class="fa fa-eye" title="view" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="viewNotes(notes)"></i>
            <i class="fa fa-pencil" title="Edit" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editNoted(notes)"></i>
            <i class="fa fa-trash" title="Delete" (click)="deleteNotes(notes)"></i>
            </div>
          </div>
          <h5 class="mt-2">{{notes.notesTitle}}</h5>
          <p>{{notes.notesDec}}.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- add notes modal  -->
  
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Notes Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <form [formGroup]="notesForm">
        <div class="modal-body">
          <div class="inputValue">
           <label>Notes Title</label>
           <input type="text" class="form-control" placeholder="Enter Note Title Here.."
           formControlName="notesTitle">
          </div>
          <div class="inputValue">
           <label>Notes Details</label>
           <textarea type="text" class="form-control" placeholder="Enter Note in details Here.."
           formControlName="notesDec"></textarea>
          </div>
         <div class="modal-footer" *ngIf="disable">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
           <button type="button" class="btn btn-primary" *ngIf="saveButton" (click)="postNotesData()">Save</button>
           <button type="button" class="btn btn-warning" *ngIf="!saveButton" (click)="updateNotesData()">Update</button>
         </div>
        </div>
      </form>
    </div>
  </div>